In [1]:
%matplotlib inline

'''
In this part we will have a look at the unique users, the number of time they used the app, 
the frequency of usage, the rolling retention rate of the users and the acquisition of new vs returning users. 
'''

# import libraries
import numpy as np, matplotlib.pyplot as plt, matplotlib, pandas as pd, os, datetime as dt
from preprocessing import preprocessing

rq = preprocessing()

In [2]:
#  Visualize 1st lines of the dataset

print(rq.head(2))
print('\n')

                            user_id          query_time         search_time  \
0  a705557d29972bc625e4918adb22fd71 2015-02-16 13:40:55 2015-02-16 13:40:00
1  d673381dc02a48921cde830672aef3ba 2015-04-19 10:06:08 2015-04-19 10:06:00

  search_mode  search_origin_lat  search_origin_lon  search_destination_lat  \
0   departure          50.910542           6.962613               50.941001
1   departure          52.398180          13.049791               52.404202

   search_destination_lon
0                6.975166
1               13.038500

In [3]:
# What is the size of our sample ?
rq_size = len(rq.index)
print('Number of events: ' + str(rq_size))
print(rq.columns)  # Column names

Number of events: 100000
Index(['user_id', 'query_time', 'search_time', 'search_mode',
       'search_origin_lat', 'search_origin_lon', 'search_destination_lat',
       'search_destination_lon'],
      dtype='object')

In [4]:
# How many unique users ? And how many time did they use the app

users = rq[rq.columns[0]].value_counts()
#print(users)
number_users = len(users.index)
print('Number of unique users: ' + str(number_users))
print(users)

Number of unique users: 32510
d41d8cd98f00b204e9800998ecf8427e    6878
a44bbb4db0084e68c96ed6a17aa97313     140
4a25d4bcfa26037be8083006f1bc1f04     140
77be395d12db5497c92262c29dd34863      95
71d4b2afefb76ae7425fab144b7dd455      93
475bbed04c2f3d2fb0edfd907321ed47      87
3aa75cc75fd1e6a927a9d331d935f341      83
2ab1d1675c0f3cf88bc7fba70f2d9941      81
867cb0d89417b93f0dbe6048b6833f51      79
ad31b423cf4e815a65f2bd80ef8ff971      74
088c51a5724b7b1e70a16bbc6916268a      72
83322d4f01d8bd256f5ba0b79d847d7b      71
e04a6062d5393c3b1930fd4762e99267      70
de12297aada54f874205fa78c4ce9c86      68
694d446ec2af0730a269881e8de9a24e      64
4d52afe2ec00f8fd776f80bb17cfb017      62
b7871e52737dbfdf9b0f05c0103690ba      61
89b5e18606a126d2037c1a7eb9c8796b      60
42e08f81945193e874aea11a125dd5fd      60
189f3a10606d9d5d66f67498ddf8386d      59
3589e2570a7bb65f162d54ba9e3c4462      59
7287d36301959c929f2855762fb8f09b      58
91bd605234d087ee872a5e97ff2bd7c4      57
20979ed8542495efc7b6b06e3be890dc      56
5d6e311b6dc53279de7444dc06cc722b      56
990d32ba28a3acb9ac2e393745dbe037      55
82d9b1841e689da5ef98c9ded785bb0a      54
ca1bce445f95272e73bf724c8032882a      53
e733f828101b8b11f567e4ebbd03dc2d      53
c421cc05b3129d906c88e95ec44441db      53
                                    ...
bfbd71eac2f1469c44ae4650d84ec5a8       1
4b706cfc79ac61d4d0753bbac10f23dd       1
f1f6d37efc24dd34dd6067c1a902a5e8       1
22a00769a4099540733e1bc52d3a445d       1
495c37362906debb4c6105a379f87f2e       1
42c6974f0662adec7676d99a102f04e4       1
86b73992af9a14a6dc8f85b33a373c38       1
a025c82832aef34e92ef9968f73b8222       1
f55b6bdb7cc10ec7fdf85d1b1e3f8cad       1
63e0d622b88c224d6b4d5698503088d8       1
9558d5e7fc2254f0b7158e5649fdc0dc       1
98d73a8614d5c75e007cf0a83f3ebc48       1
8ab34aa5611ddf7ccbe0b38e5e2a66a9       1
ffd77e30da50f003275853eb2618adb1       1
a06405481fdcac5c5e526f7f7077c571       1
a6175022d6959d2236b53d32a4f248d6       1
c3a1f8c25354d64c6ea937c633d658da       1
3702d6e28389cae09f05473ce4bc9ce6       1
77a2cc4bc19705a9786606051d2f5857       1
e2acef737ed3e94264bdf06dbc76c194       1
db5e3b3b66b53e4ecc21c598706960c0       1
75d89c78b720d3ff807485597c072874       1
c73eebd882a3ccf8141a39f6f0aae183       1
53e64454e39b695c32266556e24ce2f6       1
fe1732ccde80f5cb32e52452eb971307       1
bbcd56e0428f9b20c84bf393ff0ccce3       1
9bf36f633009bcd8e1f1ab92d2710192       1
526397e8b85ce521a13773f63975179b       1
d95fb1a334b9ee8ef16f79aa87f8024c       1
9e3c37a38f794eb51f3818541f7b401f       1
Name: user_id, dtype: int64

In [5]:
# The first user appear almost 7000 times ! It's quite huge, probably a test user !

In [6]:
# How many users have used the app more than once ?
print(str(len(users[users>1])) + ' users are recurring users over all time')
print('They represent ' + str(100*round(len(users[users>1]) / number_users,4)) + '% of the total number of users')
print('\n')

14273 users are recurring users over all time
They represent 43.9% of the total number of users

In [7]:
# Returning users within a certain time frame
# Define time frame, in our case let's say we want a weekly usage:

# Calculate column query_time - previous(query_time)
# Calculate first visit date

In [8]:
first_visit= rq.loc[:,['user_id','query_time']].groupby('user_id').min()
first_visit

                                          query_time
user_id
0000b3cf617e518c4f3e0dce2545d49e 2015-04-27 21:06:52
0001a7dc9b470f0e1e36efec104a37b2 2015-06-19 19:54:25
0002fea1ab701690639434e2fcb00d0e 2015-02-13 16:01:30
0004ae9a06015329c3361f970cecd115 2015-07-10 19:11:20
00060b02e5d8383d36b095a89ca93c39 2015-04-25 16:39:54
0006dcc811672ca858acfc1b444e4632 2015-01-30 16:49:54
0009062d534975262a86be69eaada577 2015-05-30 11:52:50
0009720e68ca8396526836c1f0987a10 2015-05-13 03:58:06
000992167bbeac9b80ffa9f819140947 2015-02-09 08:53:09
000ab7f80c5d45769f2a230aca0cbd43 2015-03-03 01:45:16
000fea4386e97a0df028c717d396c976 2015-03-24 13:17:45
0011c06b34b46021ba530f5cd6cb42d2 2015-07-26 13:09:41
0011ebe60a6187722d96fe37c063684e 2015-03-03 07:43:05
00152161174888edd70612f5b9ffb308 2015-04-19 08:46:22
001612d10f043be2cbb4fd481ce69cd2 2015-02-24 23:16:27
00179aadc82af880853b92e048a65d85 2015-03-18 22:41:48
0017fd2062bc05a533d273443e40b868 2015-03-27 18:18:30
00188cf08aab3023ee48b4525410847c 2015-07-03 15:09:36
001a1ccf1f6984f356e460fbc0868844 2015-07-16 20:27:36
0020890f90fee226e50dfd26e9ecbeba 2015-05-20 07:46:38
0020ff5c5cb6da38d07b019d248374e5 2015-07-13 10:21:06
0022966c728e46eb686617b5a6267c2f 2015-05-22 22:13:45
0024ac0e793775215cf97f7a58eee2df 2015-04-27 18:46:32
00253b8758a3a63f873969672884ec67 2015-05-19 17:19:21
002604168821c6ca40e85c23b56c4076 2015-02-12 11:28:39
002a67d62a2d28aae2078707b6d303ec 2015-05-20 17:54:56
002a7b841dd18b17a0cfa0c501202f71 2015-02-09 23:39:32
002b43c3f807cd39e201ffd408671659 2015-03-07 22:48:08
002bdd0033a7ef6f4b7036c649c6e54b 2015-07-18 10:28:59
002d3756bd4afc1e3e46a16f45121abc 2015-06-22 16:45:27
...                                              ...
ffd12cde49a77a13c6a0105820fafee9 2015-05-03 16:49:08
ffd17fe0f432e051f34a3083c3dddb9c 2015-05-17 18:15:19
ffd2e502d1e9d58aa9c5656692d19ddc 2015-05-29 13:56:22
ffd34c61f5f5a15e4071e48bfe736910 2015-05-26 20:44:45
ffd404b786475b3b6fd6afa4b8f35751 2015-02-14 22:00:57
ffd4a9ea4fdc569e2b84a09c32090f6a 2015-05-11 16:37:00
ffd4f95f6521f3806a8fd56bae55ac68 2015-07-06 17:49:14
ffd59758b94a5c49b4b975619785bc63 2015-06-15 02:40:44
ffd62561de5ca419eabc5a59e91584a8 2015-05-25 20:33:50
ffd6382c073e9df059dbb7d5002ca24b 2015-07-06 04:55:56
ffd6d70e47940e4b2e29aa1519331809 2015-04-04 14:22:36
ffd77e30da50f003275853eb2618adb1 2015-07-08 02:03:56
ffd7cd9accdece7d5e9bb3d256d925cb 2015-02-20 15:03:28
ffda86d4302396275345571e42417ace 2015-02-24 16:59:26
ffdc08fa59b44a20dc62572a4bb346f1 2015-02-17 19:51:39
ffde7d71494bfeaddca11a8447d65008 2015-02-27 19:44:35
ffdf6f36375f9a2f44b06f49f73c9d06 2015-04-24 08:15:29
ffe1d9060d7975f3b3ca742145ac34c7 2015-05-07 23:33:59
ffe763b6868e5354be182e37de0428dc 2015-05-05 20:50:08
ffe87cb5f1dec8ee5f719c19f7ebd37d 2015-07-30 11:17:23
ffe9e2b592b69a551c32f021c6c2ee25 2015-07-04 07:20:50
ffeab7d98fb41dad466fb9ef9ca2a824 2015-06-24 23:12:53
ffeac52ae556e0eb271c0beeecd2566e 2015-03-10 17:43:16
fff072db7482dc9c50d334f8dd52f1e0 2015-04-07 17:15:10
fff12aa6626ad37574f2f76abf2596cb 2015-07-08 18:39:50
fff6c0612a2c8ca56738840f9e7e4014 2015-07-12 09:03:59
fff767e305d608ad26dfc7fc0c73ff0a 2015-05-01 20:56:02
fff84b38f5de5ac445d2626ccbfa511d 2015-04-24 12:52:08
fffc1e417552a86c702ac3cff939ad08 2015-04-17 13:36:08
fffe3dfbeacf4b6f99de2a1f64c4b06e 2015-04-02 14:10:36

[32510 rows x 1 columns]

In [9]:
# We find again that there are 32510 unique users, let's now find their last visit date#
last_visit = rq.loc[:,['user_id','query_time']].groupby('user_id').max()

In [10]:
# Now the difference between them, will tell us the time we retain them
retention = first_visit
retention['last_visit'] = last_visit['query_time']
retention.columns = ['first_visit', 'last_visit']
retention['retention_time'] = retention['last_visit'] - retention['first_visit']
retention

,first_visit,last_visit,retention_time
user_id,,,
0000b3cf617e518c4f3e0dce2545d49e,2015-04-27 21:06:52,2015-04-27 21:06:52,0 days 00:00:00
0001a7dc9b470f0e1e36efec104a37b2,2015-06-19 19:54:25,2015-06-19 19:54:25,0 days 00:00:00
0002fea1ab701690639434e2fcb00d0e,2015-02-13 16:01:30,2015-04-13 11:35:35,58 days 19:34:05
0004ae9a06015329c3361f970cecd115,2015-07-10 19:11:20,2015-07-11 10:53:31,0 days 15:42:11
00060b02e5d8383d36b095a89ca93c39,2015-04-25 16:39:54,2015-04-25 16:39:54,0 days 00:00:00
0006dcc811672ca858acfc1b444e4632,2015-01-30 16:49:54,2015-01-30 16:49:54,0 days 00:00:00
0009062d534975262a86be69eaada577,2015-05-30 11:52:50,2015-05-30 11:52:50,0 days 00:00:00
0009720e68ca8396526836c1f0987a10,2015-05-13 03:58:06,2015-05-13 03:58:06,0 days 00:00:00
000992167bbeac9b80ffa9f819140947,2015-02-09 08:53:09,2015-06-18 06:19:36,128 days 21:26:27
000ab7f80c5d45769f2a230aca0cbd43,2015-03-03 01:45:16,2015-07-15 22:33:27,134 days 20:48:11
000fea4386e97a0df028c717d396c976,2015-03-24 13:17:45,2015-03-24 13:17:45,0 days 00:00:00
0011c06b34b46021ba530f5cd6cb42d2,2015-07-26 13:09:41,2015-07-26 13:09:41,0 days 00:00:00
0011ebe60a6187722d96fe37c063684e,2015-03-03 07:43:05,2015-03-03 07:43:05,0 days 00:00:00
00152161174888edd70612f5b9ffb308,2015-04-19 08:46:22,2015-06-03 11:05:32,45 days 02:19:10
001612d10f043be2cbb4fd481ce69cd2,2015-02-24 23:16:27,2015-02-24 23:16:27,0 days 00:00:00
00179aadc82af880853b92e048a65d85,2015-03-18 22:41:48,2015-03-18 22:41:48,0 days 00:00:00
0017fd2062bc05a533d273443e40b868,2015-03-27 18:18:30,2015-04-28 21:29:47,32 days 03:11:17
00188cf08aab3023ee48b4525410847c,2015-07-03 15:09:36,2015-07-03 15:09:36,0 days 00:00:00
001a1ccf1f6984f356e460fbc0868844,2015-07-16 20:27:36,2015-07-16 20:28:21,0 days 00:00:45
0020890f90fee226e50dfd26e9ecbeba,2015-05-20 07:46:38,2015-05-20 07:46:38,0 days 00:00:00
0020ff5c5cb6da38d07b019d248374e5,2015-07-13 10:21:06,2015-07-13 10:21:06,0 days 00:00:00
0022966c728e46eb686617b5a6267c2f,2015-05-22 22:13:45,2015-05-22 22:13:45,0 days 00:00:00
0024ac0e793775215cf97f7a58eee2df,2015-04-27 18:46:32,2015-04-27 18:46:32,0 days 00:00:00
00253b8758a3a63f873969672884ec67,2015-05-19 17:19:21,2015-05-19 17:19:21,0 days 00:00:00
002604168821c6ca40e85c23b56c4076,2015-02-12 11:28:39,2015-02-12 11:28:39,0 days 00:00:00
002a67d62a2d28aae2078707b6d303ec,2015-05-20 17:54:56,2015-05-20 18:06:53,0 days 00:11:57
002a7b841dd18b17a0cfa0c501202f71,2015-02-09 23:39:32,2015-03-19 18:24:53,37 days 18:45:21
002b43c3f807cd39e201ffd408671659,2015-03-07 22:48:08,2015-04-24 16:38:28,47 days 17:50:20
002bdd0033a7ef6f4b7036c649c6e54b,2015-07-18 10:28:59,2015-07-27 09:43:17,8 days 23:14:18
002d3756bd4afc1e3e46a16f45121abc,2015-06-22 16:45:27,2015-06-23 06:40:45,0 days 13:55:18
...,...,...,...
ffd12cde49a77a13c6a0105820fafee9,2015-05-03 16:49:08,2015-05-03 16:49:08,0 days 00:00:00
ffd17fe0f432e051f34a3083c3dddb9c,2015-05-17 18:15:19,2015-05-17 18:15:19,0 days 00:00:00
ffd2e502d1e9d58aa9c5656692d19ddc,2015-05-29 13:56:22,2015-06-23 14:01:41,25 days 00:05:19
ffd34c61f5f5a15e4071e48bfe736910,2015-05-26 20:44:45,2015-06-24 19:20:32,28 days 22:35:47
ffd404b786475b3b6fd6afa4b8f35751,2015-02-14 22:00:57,2015-02-17 07:07:53,2 days 09:06:56
ffd4a9ea4fdc569e2b84a09c32090f6a,2015-05-11 16:37:00,2015-05-11 16:37:00,0 days 00:00:00
ffd4f95f6521f3806a8fd56bae55ac68,2015-07-06 17:49:14,2015-07-08 16:21:12,1 days 22:31:58
ffd59758b94a5c49b4b975619785bc63,2015-06-15 02:40:44,2015-06-15 02:40:44,0 days 00:00:00
ffd62561de5ca419eabc5a59e91584a8,2015-05-25 20:33:50,2015-05-25 20:33:50,0 days 00:00:00
ffd6382c073e9df059dbb7d5002ca24b,2015-07-06 04:55:56,2015-07-06 04:55:56,0 days 00:00:00
ffd6d70e47940e4b2e29aa1519331809,2015-04-04 14:22:36,2015-07-17 11:17:27,103 days 20:54:51
ffd77e30da50f003275853eb2618adb1,2015-07-08 02:03:56,2015-07-08 02:03:56,0 days 00:00:00
ffd7cd9accdece7d5e9bb3d256d925cb,2015-02-20 15:03:28,2015-06-26 17:02:39,126 days 01:59:11
ffda86d4302396275345571e42417ace,2015-02-24 16:59:26,2015-02-24 16:59:26,0 days 00:00:00
ffdc08fa59b44a20dc62572a4bb346f1,2015-02-17 19:51:39,2015-02-17 19:51:39,0 days 00:00:00
ffde7d71494bfeaddca11a8447d65008,2015-02-27 19:44:35,2015-04-26 21:06:16,58 days 01:21:41
ffdf6f36375f9a2f44b06f49f73c9d06,2015-04-24 08:15:29,2015-06-11 22:19:58,48 days 14:04:29
ffe1d9060d7975f3b3ca742145ac34c7,2015-05-07 23:33:59,2015-05-07 23:33:59,0 days 00:00:00
ffe763b6868e5354be182e37de0428dc,2015-05-05 20:50:08,2015-05-05 20:50:08,0 days 00:00:00
ffe87cb5f1dec8ee5f719c19f7ebd37d,2015-07-30 11:17:23,2015-07-30 11:17:47,0 days 00:00:24
ffe9e2b592b69a551c32f021c6c2ee25,2015-07-04 07:20:50,2015-07-04 07:20:50,0 days 00:00:00
ffeab7d98fb41dad466fb9ef9ca2a824,2015-06-24 23:12:53,2015-06-24 23:12:53,0 days 00:00:00
ffeac52ae556e0eb271c0beeecd2566e,2015-03-10 17:43:16,2015-07-16 13:29:26,127 days 19:46:10
fff072db7482dc9c50d334f8dd52f1e0,2015-04-07 17:15:10,2015-04-07 17:15:10,0 days 00:00:00
fff12aa6626ad37574f2f76abf2596cb,2015-07-08 18:39:50,2015-07-08 18:40:32,0 days 00:00:42
fff6c0612a2c8ca56738840f9e7e4014,2015-07-12 09:03:59,2015-07-12 09:03:59,0 days 00:00:00
fff767e305d608ad26dfc7fc0c73ff0a,2015-05-01 20:56:02,2015-05-01 20:56:02,0 days 00:00:00
fff84b38f5de5ac445d2626ccbfa511d,2015-04-24 12:52:08,2015-04-24 12:52:08,0 days 00:00:00
fffc1e417552a86c702ac3cff939ad08,2015-04-17 13:36:08,2015-04-17 13:36:08,0 days 00:00:00
fffe3dfbeacf4b6f99de2a1f64c4b06e,2015-04-02 14:10:36,2015-04-02 14:12:20,0 days 00:01:44

In [11]:
# users that used the app only once
retention[retention['retention_time'] == pd.Timedelta('0 s')]

,first_visit,last_visit,retention_time
user_id,,,
0000b3cf617e518c4f3e0dce2545d49e,2015-04-27 21:06:52,2015-04-27 21:06:52,0 days
0001a7dc9b470f0e1e36efec104a37b2,2015-06-19 19:54:25,2015-06-19 19:54:25,0 days
00060b02e5d8383d36b095a89ca93c39,2015-04-25 16:39:54,2015-04-25 16:39:54,0 days
0006dcc811672ca858acfc1b444e4632,2015-01-30 16:49:54,2015-01-30 16:49:54,0 days
0009062d534975262a86be69eaada577,2015-05-30 11:52:50,2015-05-30 11:52:50,0 days
0009720e68ca8396526836c1f0987a10,2015-05-13 03:58:06,2015-05-13 03:58:06,0 days
000fea4386e97a0df028c717d396c976,2015-03-24 13:17:45,2015-03-24 13:17:45,0 days
0011c06b34b46021ba530f5cd6cb42d2,2015-07-26 13:09:41,2015-07-26 13:09:41,0 days
0011ebe60a6187722d96fe37c063684e,2015-03-03 07:43:05,2015-03-03 07:43:05,0 days
001612d10f043be2cbb4fd481ce69cd2,2015-02-24 23:16:27,2015-02-24 23:16:27,0 days
00179aadc82af880853b92e048a65d85,2015-03-18 22:41:48,2015-03-18 22:41:48,0 days
00188cf08aab3023ee48b4525410847c,2015-07-03 15:09:36,2015-07-03 15:09:36,0 days
0020890f90fee226e50dfd26e9ecbeba,2015-05-20 07:46:38,2015-05-20 07:46:38,0 days
0020ff5c5cb6da38d07b019d248374e5,2015-07-13 10:21:06,2015-07-13 10:21:06,0 days
0022966c728e46eb686617b5a6267c2f,2015-05-22 22:13:45,2015-05-22 22:13:45,0 days
0024ac0e793775215cf97f7a58eee2df,2015-04-27 18:46:32,2015-04-27 18:46:32,0 days
00253b8758a3a63f873969672884ec67,2015-05-19 17:19:21,2015-05-19 17:19:21,0 days
002604168821c6ca40e85c23b56c4076,2015-02-12 11:28:39,2015-02-12 11:28:39,0 days
002da0e6bc7ef7e7b169bac4e01152c5,2015-02-10 06:53:56,2015-02-10 06:53:56,0 days
002fdfdc2b2e9c729939f0cb91393e4d,2015-04-28 01:51:39,2015-04-28 01:51:39,0 days
0030809851640fe0f456652c8f19605b,2015-02-11 18:47:35,2015-02-11 18:47:35,0 days
0033d0a7aed8ed633b6129b24cb3634d,2015-05-17 21:36:22,2015-05-17 21:36:22,0 days
00372c43eac19262b395e0085545dd3e,2015-06-25 12:07:02,2015-06-25 12:07:02,0 days
003cd6cfc9e24090952b812157c183a9,2015-05-23 20:02:47,2015-05-23 20:02:47,0 days
003d5cf7e70de52d29734f76a03c683b,2015-06-09 15:06:31,2015-06-09 15:06:31,0 days
003d8e8d767f7037eb7be09c25482dfa,2015-02-24 15:24:30,2015-02-24 15:24:30,0 days
0047af32e30fbe65d115070ae570f52a,2015-06-04 08:44:41,2015-06-04 08:44:41,0 days
004c74b8764be9d9b6f5932ed7fde220,2015-06-11 13:08:04,2015-06-11 13:08:04,0 days
004d589857055c8cf78684d7f0c7e193,2015-07-18 06:33:00,2015-07-18 06:33:00,0 days
00511d3e4648a9331e53587a20dafae3,2015-06-12 13:01:51,2015-06-12 13:01:51,0 days
...,...,...,...
ffbad90dd66a24dffe0d49ced57978ee,2015-03-18 22:00:25,2015-03-18 22:00:25,0 days
ffbaeee78d5f18df595154269ec48f11,2015-02-10 21:20:46,2015-02-10 21:20:46,0 days
ffbdf818142179daba4dff482a6e29f7,2015-04-27 05:15:33,2015-04-27 05:15:33,0 days
ffbf7ad0a14a22eca464e2f6094e50a1,2015-04-12 16:50:05,2015-04-12 16:50:05,0 days
ffc0d45aae5136c8f23e8170ecde2425,2015-07-04 18:55:31,2015-07-04 18:55:31,0 days
ffc226f7d8d593a92bb6286573dc0973,2015-07-19 13:55:15,2015-07-19 13:55:15,0 days
ffc78cf8e2a7b27fb10c256f59ee432b,2015-01-30 15:22:05,2015-01-30 15:22:05,0 days
ffc94e4b31b85e853205ea8b72347fbc,2015-03-20 17:38:03,2015-03-20 17:38:03,0 days
ffcb027cc903f37cee2f19d73c2d1f75,2015-04-24 19:29:08,2015-04-24 19:29:08,0 days
ffcdd9bc6589510583c560dd3f553c61,2015-02-23 17:23:00,2015-02-23 17:23:00,0 days
ffce8975a5cb2128231f4430c1159460,2015-04-21 04:01:07,2015-04-21 04:01:07,0 days
ffcf0e47d0f704b8c951bd7095a80312,2015-06-29 12:04:15,2015-06-29 12:04:15,0 days
ffd12cde49a77a13c6a0105820fafee9,2015-05-03 16:49:08,2015-05-03 16:49:08,0 days
ffd17fe0f432e051f34a3083c3dddb9c,2015-05-17 18:15:19,2015-05-17 18:15:19,0 days
ffd4a9ea4fdc569e2b84a09c32090f6a,2015-05-11 16:37:00,2015-05-11 16:37:00,0 days
ffd59758b94a5c49b4b975619785bc63,2015-06-15 02:40:44,2015-06-15 02:40:44,0 days
ffd62561de5ca419eabc5a59e91584a8,2015-05-25 20:33:50,2015-05-25 20:33:50,0 days
ffd6382c073e9df059dbb7d5002ca24b,2015-07-06 04:55:56,2015-07-06 04:55:56,0 days
ffd77e30da50f003275853eb2618adb1,2015-07-08 02:03:56,2015-07-08 02:03:56,0 days
ffda86d4302396275345571e42417ace,2015-02-24 16:59:26,2015-02-24 16:59:26,0 days
ffdc08fa59b44a20dc62572a4bb346f1,2015-02-17 19:51:39,2015-02-17 19:51:39,0 days
ffe1d9060d7975f3b3ca742145ac34c7,2015-05-07 23:33:59,2015-05-07 23:33:59,0 days
ffe763b6868e5354be182e37de0428dc,2015-05-05 20:50:08,2015-05-05 20:50:08,0 days
ffe9e2b592b69a551c32f021c6c2ee25,2015-07-04 07:20:50,2015-07-04 07:20:50,0 days
ffeab7d98fb41dad466fb9ef9ca2a824,2015-06-24 23:12:53,2015-06-24 23:12:53,0 days
fff072db7482dc9c50d334f8dd52f1e0,2015-04-07 17:15:10,2015-04-07 17:15:10,0 days
fff6c0612a2c8ca56738840f9e7e4014,2015-07-12 09:03:59,2015-07-12 09:03:59,0 days
fff767e305d608ad26dfc7fc0c73ff0a,2015-05-01 20:56:02,2015-05-01 20:56:02,0 days
fff84b38f5de5ac445d2626ccbfa511d,2015-04-24 12:52:08,2015-04-24 12:52:08,0 days
fffc1e417552a86c702ac3cff939ad08,2015-04-17 13:36:08,2015-04-17 13:36:08,0 days

In [12]:
# We can visualize the users that used the app more than once
retention_positive =retention[retention['retention_time'] > pd.Timedelta('0 s')]
retention_positive

,first_visit,last_visit,retention_time
user_id,,,
0002fea1ab701690639434e2fcb00d0e,2015-02-13 16:01:30,2015-04-13 11:35:35,58 days 19:34:05
0004ae9a06015329c3361f970cecd115,2015-07-10 19:11:20,2015-07-11 10:53:31,0 days 15:42:11
000992167bbeac9b80ffa9f819140947,2015-02-09 08:53:09,2015-06-18 06:19:36,128 days 21:26:27
000ab7f80c5d45769f2a230aca0cbd43,2015-03-03 01:45:16,2015-07-15 22:33:27,134 days 20:48:11
00152161174888edd70612f5b9ffb308,2015-04-19 08:46:22,2015-06-03 11:05:32,45 days 02:19:10
0017fd2062bc05a533d273443e40b868,2015-03-27 18:18:30,2015-04-28 21:29:47,32 days 03:11:17
001a1ccf1f6984f356e460fbc0868844,2015-07-16 20:27:36,2015-07-16 20:28:21,0 days 00:00:45
002a67d62a2d28aae2078707b6d303ec,2015-05-20 17:54:56,2015-05-20 18:06:53,0 days 00:11:57
002a7b841dd18b17a0cfa0c501202f71,2015-02-09 23:39:32,2015-03-19 18:24:53,37 days 18:45:21
002b43c3f807cd39e201ffd408671659,2015-03-07 22:48:08,2015-04-24 16:38:28,47 days 17:50:20
002bdd0033a7ef6f4b7036c649c6e54b,2015-07-18 10:28:59,2015-07-27 09:43:17,8 days 23:14:18
002d3756bd4afc1e3e46a16f45121abc,2015-06-22 16:45:27,2015-06-23 06:40:45,0 days 13:55:18
0034de21f51808116d219fb313179523,2015-05-03 22:51:48,2015-06-30 20:59:52,57 days 22:08:04
003e96341725ccdadbd3332996ddb37c,2015-02-26 12:44:20,2015-07-05 06:01:12,128 days 17:16:52
003f1218020ff8f494d465385f45e5f6,2015-04-05 20:51:58,2015-07-26 19:09:02,111 days 22:17:04
0042c9e67a2bff8fb025c36bbb5b039c,2015-02-08 08:27:52,2015-02-21 10:20:35,13 days 01:52:43
0042d4110ddfbd4e43748800cafef4ff,2015-02-11 13:16:55,2015-02-18 13:29:10,7 days 00:12:15
00474f1c65f538821c68872d0b04c3d0,2015-02-01 03:52:15,2015-02-01 04:13:05,0 days 00:20:50
004bb91ce591a8d69d253ab3dea3544a,2015-02-20 15:05:46,2015-05-30 16:59:00,99 days 01:53:14
004ee44b9ab5d45adc68ba0adabbff62,2015-07-02 14:09:45,2015-07-03 11:52:41,0 days 21:42:56
005bc6d36f8f2ee7787e9ee5a80f0152,2015-03-11 17:39:36,2015-06-22 11:57:30,102 days 18:17:54
005e7def3144f456f17d06749a2748d3,2015-06-04 06:52:31,2015-06-20 06:31:51,15 days 23:39:20
0065ed6e0709e6b1c76c4cbd4b9adc71,2015-02-12 08:10:40,2015-05-13 23:22:23,90 days 15:11:43
007030823a629bfcc7035298b6932d5e,2015-03-19 13:51:56,2015-04-13 08:18:17,24 days 18:26:21
007b01562c86754a3a5b1265a67c6c7e,2015-05-27 21:14:58,2015-07-23 23:02:32,57 days 01:47:34
007e50d1cd0f06946c75c915f68de991,2015-07-07 08:43:36,2015-07-27 06:48:23,19 days 22:04:47
008fb1287ecc4e13dc967e48520e7e1b,2015-07-03 14:59:09,2015-07-04 04:53:54,0 days 13:54:45
00904254906d07e8b04a24cfa515e776,2015-07-30 21:36:50,2015-07-30 21:38:18,0 days 00:01:28
0099076366404db4d4a87913b51b69c1,2015-07-16 10:03:27,2015-07-23 11:15:01,7 days 01:11:34
00a2f0084457dbe2217944614296086e,2015-02-14 15:40:16,2015-02-15 00:43:47,0 days 09:03:31
...,...,...,...
ff89ac4da31df941450deacff215e811,2015-07-05 09:51:40,2015-07-05 18:38:00,0 days 08:46:20
ff8a3d4f23337ff115d3e72cdc5b4b20,2015-04-04 12:48:43,2015-06-12 04:24:56,68 days 15:36:13
ff8fa48afe4fb6686068088a1d7e7c34,2015-04-20 14:28:54,2015-07-18 13:53:53,88 days 23:24:59
ff950bfd99ba4612a2cd48f105b240af,2015-03-09 17:28:50,2015-04-30 20:04:17,52 days 02:35:27
ff9bb46b452562f6afe97ae092532e6a,2015-03-20 02:30:02,2015-05-07 19:11:34,48 days 16:41:32
ff9bf3fee2a04f3f0ddf906413c20ec0,2015-06-11 12:46:34,2015-06-11 12:46:44,0 days 00:00:10
ff9fa8da3087f8b7e8a3652d90fc320c,2015-06-14 13:00:58,2015-06-14 13:01:55,0 days 00:00:57
ffa0bf9fce54ad169f712d07c03653bc,2015-03-18 16:28:01,2015-03-18 16:43:25,0 days 00:15:24
ffac7dc015f3355d0a96a955ed23a4e8,2015-03-05 15:34:14,2015-07-06 10:18:04,122 days 18:43:50
ffadbc49ea93da8c751b4337f6a1db64,2015-05-09 05:50:44,2015-05-26 05:27:28,16 days 23:36:44
ffb126d85aa8526e206c04bb1da804ec,2015-06-22 16:14:31,2015-07-16 12:17:15,23 days 20:02:44
ffb33d3375e3e843177efcf994e26842,2015-02-13 14:30:46,2015-03-20 14:14:22,34 days 23:43:36
ffb35ae0027c16261bdcf84923c33b1d,2015-07-13 06:46:46,2015-07-13 06:50:18,0 days 00:03:32
ffbbf473603bd92a549b0db19300eb6a,2015-02-25 18:25:21,2015-06-07 15:04:10,101 days 20:38:49
ffbe5f417c90fd628479d4ace16b9a6a,2015-02-11 11:36:17,2015-05-23 15:53:37,101 days 04:17:20
ffcac3ae6eeaebddd9ece5efe8cda255,2015-02-02 08:13:48,2015-02-02 08:14:48,0 days 00:01:00
ffcbaf023d52fc1851896accdbefab30,2015-02-26 16:51:56,2015-02-27 18:47:02,1 days 01:55:06
ffd01d9b10af7128ea2304093e319e69,2015-07-07 08:20:34,2015-07-07 08:20:46,0 days 00:00:12
ffd2e502d1e9d58aa9c5656692d19ddc,2015-05-29 13:56:22,2015-06-23 14:01:41,25 days 00:05:19
ffd34c61f5f5a15e4071e48bfe736910,2015-05-26 20:44:45,2015-06-24 19:20:32,28 days 22:35:47
ffd404b786475b3b6fd6afa4b8f35751,2015-02-14 22:00:57,2015-02-17 07:07:53,2 days 09:06:56
ffd4f95f6521f3806a8fd56bae55ac68,2015-07-06 17:49:14,2015-07-08 16:21:12,1 days 22:31:58
ffd6d70e47940e4b2e29aa1519331809,2015-04-04 14:22:36,2015-07-17 11:17:27,103 days 20:54:51
ffd7cd9accdece7d5e9bb3d256d925cb,2015-02-20 15:03:28,2015-06-26 17:02:39,126 days 01:59:11
ffde7d71494bfeaddca11a8447d65008,2015-02-27 19:44:35,2015-04-26 21:06:16,58 days 01:21:41
ffdf6f36375f9a2f44b06f49f73c9d06,2015-04-24 08:15:29,2015-06-11 22:19:58,48 days 14:04:29
ffe87cb5f1dec8ee5f719c19f7ebd37d,2015-07-30 11:17:23,2015-07-30 11:17:47,0 days 00:00:24
ffeac52ae556e0eb271c0beeecd2566e,2015-03-10 17:43:16,2015-07-16 13:29:26,127 days 19:46:10
fff12aa6626ad37574f2f76abf2596cb,2015-07-08 18:39:50,2015-07-08 18:40:32,0 days 00:00:42
fffe3dfbeacf4b6f99de2a1f64c4b06e,2015-04-02 14:10:36,2015-04-02 14:12:20,0 days 00:01:44

In [13]:
# Let's have a look at the range of date from our dataset.
retention['first_visit'].min()

Timestamp('2015-01-29 12:16:39')

In [14]:
retention['last_visit'].max()

Timestamp('2015-07-31 23:57:05')

In [15]:
# All events happened between end of January (29/01) and end of july (31/07) in 2015
# Which make a time frame of :
time_frame = retention['last_visit'].max() - retention['first_visit'].min()
time_frame

Timedelta('183 days 11:40:26')

In [16]:
# in weeks :
time_frame.days/7

26.142857142857142

In [17]:
# Let's try to design a retention matrix :
# we need to define a few functions :
def first_day_of_week(sourcedate):
    return sourcedate - pd.Timedelta(days = sourcedate.weekday())
def last_day_of_week(sourcedate):
    return sourcedate + pd.Timedelta(days=(6 - sourcedate.weekday()))
def add_weeks(sourcedate,n_weeks):
    return sourcedate + pd.Timedelta(days=7*n_weeks)

In [18]:
def retained_in_interval(users,signup_week,n_weeks,end_date):

    # For a given list of users id, we want to returns the number of users 
    # that signed up in a certain the week (starting with our first_visit week).
    # we need to calculate the number of users that are retained after n_weeks
    # We have to stop at end date (which is our maximum date of last_visit)

    # Define the range of the given week
    week_start       = pd.to_datetime(first_day_of_week(signup_week))
    week_end         = pd.to_datetime(last_day_of_week(signup_week))
    if n_weeks == 0:
        # If this is our first week, we just take the number of users
        # that used the app during this period, they are by definition retained for this week
        return len( users[    (users['first_visit'] >= week_start) &
                              (users['first_visit'] <= week_end
                              )])
    elif pd.to_datetime(add_weeks(week_end,n_weeks)) > pd.to_datetime(end_date) :
        # This is too far = error
        return float("Inf")
    else:
        # Otherwise, we count the number of users that used the app for the first time on that week,
        # and the one where last_visit is later (or equal) than the number of weeks added (rolling retention)
        return len( users[
                        (users['first_visit'] >= week_start) 
                        & (users['first_visit'] <= week_end)
                        & (pd.to_datetime(users['last_visit']) >= pd.to_datetime(users['first_visit'].map(lambda x: add_weeks(x,n_weeks))))
                        ])

In [19]:
# Let's test all this with our first user with positive retention time: (we have to use an actual calendar, so 90')
print(retention_positive.head(1))
print((retention_positive.head(1)['first_visit']).apply(first_day_of_week))
print((retention_positive.head(1)['first_visit']).apply(last_day_of_week))
print((retention_positive.head(1)['first_visit']).apply(lambda x: add_weeks(x,1)))

                                         first_visit          last_visit  \
user_id
0002fea1ab701690639434e2fcb00d0e 2015-02-13 16:01:30 2015-04-13 11:35:35

                                   retention_time
user_id
0002fea1ab701690639434e2fcb00d0e 58 days 19:34:05
user_id
0002fea1ab701690639434e2fcb00d0e   2015-02-09 16:01:30
Name: first_visit, dtype: datetime64[ns]
user_id
0002fea1ab701690639434e2fcb00d0e   2015-02-15 16:01:30
Name: first_visit, dtype: datetime64[ns]
user_id
0002fea1ab701690639434e2fcb00d0e   2015-02-20 16:01:30
Name: first_visit, dtype: datetime64[ns]

In [20]:
# This guy was retained for 58 days, so 8.29 weeks.
retention_positive.head(1)

,first_visit,last_visit,retention_time
user_id,,,
0002fea1ab701690639434e2fcb00d0e,2015-02-13 16:01:30,2015-04-13 11:35:35,58 days 19:34:05

In [21]:
# testing type compatibility
print(type(pd.to_datetime('2015-02-09 16:01:30')))
print(type(retention_positive['first_visit']))
# retention[((retention['first_visit']) > pd.to_datetime('2015-02-09 16:01:30')) & ((retention['first_visit']) > pd.to_datetime('2015-02-09 16:01:30'))]

<class 'pandas.tslib.Timestamp'>
<class 'pandas.core.series.Series'>

In [22]:
assert (retained_in_interval(retention_positive.head(1)
                     ,retention_positive.head(1).iloc[0,0],
                     8,
                     retention_positive.head(1).iloc[0,1]) ==1)
assert (retained_in_interval(retention_positive.head(1)
                     ,retention_positive.head(1).iloc[0,0],
                     0,
                     retention_positive.head(1).iloc[0,1]) ==1)
assert (retained_in_interval(retention_positive.head(1)
                     ,retention_positive.head(1).iloc[0,0],
                     9,
                     retention_positive.head(1).iloc[0,1]) == float("Inf"))

In [23]:
# tested passed ! Let's now build or matrix of retention !

In [24]:
def retention_matrix(users,span='W',end_date=None):
    '''
        For a given dataframe of users, return a retention matrix with the following parameters :
        span : the span of every period of time between the cohort (D, W, M)
        end_date = the date after which we stop counting the users
    '''
    # Calculate the size of the retention matrix based on the time span between min and max date.
    time_frame = retention['last_visit'].max() - retention['first_visit'].min()
    matrix_x = int(np.trunc(time_frame.days/7))
    matrix_y = matrix_x
    # the last column of the table will end at the last date :
    if end_date is None:
        end_date = dt.datetime.today()
    # The index of the dataframe will be a list of dates ranging
    dates = pd.date_range(add_weeks(end_date,-matrix_y), periods=matrix_y, freq=span)

    matrix = pd.DataFrame(columns=['First_visit'])
    matrix['First_visit'] = dates
    # We will compute the number of retained users with our function retained_in_interval, column by column
    range_dates = range(0,matrix_x+1)
    for p in range_dates:
        # Name of the column
        s_p = span + ' ' + str(p)
        matrix[s_p] = matrix.apply(lambda x: retained_in_interval(users,x['First_visit'],p,end_date), axis=1)

    matrix = matrix.set_index('First_visit')        
    return matrix

In [25]:
matrix = retention_matrix(retention,end_date=last_day_of_week(retention['first_visit'].max()) )
# This works but takes long long time, thus the reason for iPython :)
# There might be a way to improve computing efficiency there. Open to suggestions

In [26]:
matrix

,W 0,W 1,W 2,W 3,W 4,W 5,W 6,W 7,W 8,W 9,...,W 17,W 18,W 19,W 20,W 21,W 22,W 23,W 24,W 25,W 26
First_visit,,,,,,,,,,,,,,,,,,,,,
2015-02-01 23:37:43,261,93,86.000000,80.000000,79.000000,76.000000,73.000000,69.000000,68.000000,64.000000,...,37.000000,36.000000,30.000000,27.000000,23.000000,21.000000,20.000000,15.000000,9.000000,1.000000
2015-02-08 23:37:43,1044,479,453.000000,430.000000,409.000000,397.000000,380.000000,360.000000,343.000000,329.000000,...,195.000000,179.000000,159.000000,150.000000,131.000000,113.000000,83.000000,51.000000,4.000000,inf
2015-02-15 23:37:43,1826,1035,991.000000,963.000000,930.000000,901.000000,870.000000,828.000000,798.000000,772.000000,...,495.000000,445.000000,390.000000,345.000000,276.000000,206.000000,132.000000,32.000000,inf,inf
2015-02-22 23:37:43,1323,722,698.000000,661.000000,640.000000,608.000000,592.000000,573.000000,554.000000,528.000000,...,317.000000,274.000000,241.000000,204.000000,156.000000,98.000000,24.000000,inf,inf,inf
2015-03-01 23:37:43,1128,553,536.000000,514.000000,496.000000,482.000000,463.000000,444.000000,424.000000,392.000000,...,226.000000,196.000000,154.000000,118.000000,64.000000,13.000000,inf,inf,inf,inf
2015-03-08 23:37:43,956,463,446.000000,429.000000,409.000000,392.000000,376.000000,358.000000,326.000000,298.000000,...,139.000000,115.000000,81.000000,58.000000,12.000000,inf,inf,inf,inf,inf
2015-03-15 23:37:43,929,409,389.000000,375.000000,360.000000,333.000000,312.000000,287.000000,272.000000,253.000000,...,98.000000,70.000000,46.000000,7.000000,inf,inf,inf,inf,inf,inf
2015-03-22 23:37:43,961,391,373.000000,356.000000,338.000000,311.000000,290.000000,268.000000,247.000000,223.000000,...,60.000000,38.000000,7.000000,inf,inf,inf,inf,inf,inf,inf
2015-03-29 23:37:43,787,305,288.000000,270.000000,256.000000,238.000000,224.000000,212.000000,196.000000,183.000000,...,35.000000,3.000000,inf,inf,inf,inf,inf,inf,inf,inf
2015-04-05 23:37:43,766,300,278.000000,260.000000,236.000000,218.000000,206.000000,193.000000,189.000000,176.000000,...,6.000000,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-04-12 23:37:43,861,347,319.000000,284.000000,259.000000,240.000000,221.000000,197.000000,178.000000,169.000000,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-04-19 23:37:43,837,315,284.000000,260.000000,237.000000,213.000000,197.000000,173.000000,160.000000,149.000000,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-04-26 23:37:43,1377,448,406.000000,377.000000,341.000000,310.000000,287.000000,257.000000,226.000000,198.000000,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-05-03 23:37:43,1073,306,277.000000,257.000000,227.000000,206.000000,178.000000,161.000000,149.000000,131.000000,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-05-10 23:37:43,891,271,244.000000,215.000000,194.000000,177.000000,163.000000,142.000000,117.000000,93.000000,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-05-17 23:37:43,858,243,216.000000,198.000000,176.000000,154.000000,133.000000,103.000000,89.000000,61.000000,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-05-24 23:37:43,746,186,163.000000,144.000000,121.000000,101.000000,92.000000,70.000000,49.000000,30.000000,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-05-31 23:37:43,793,189,161.000000,138.000000,117.000000,100.000000,81.000000,55.000000,29.000000,9.000000,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-06-07 23:37:43,1174,213,168.000000,133.000000,113.000000,97.000000,73.000000,41.000000,7.000000,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-06-14 23:37:43,932,165,140.000000,115.000000,96.000000,67.000000,40.000000,3.000000,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-06-21 23:37:43,1011,174,142.000000,98.000000,69.000000,36.000000,9.000000,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-06-28 23:37:43,949,146,111.000000,83.000000,45.000000,10.000000,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-07-05 23:37:43,1460,157,101.000000,55.000000,10.000000,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-07-12 23:37:43,1791,182,95.000000,19.000000,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-07-19 23:37:43,1575,109,21.000000,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-07-26 23:37:43,990,29,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf

In [27]:
# absolute values to percentage by dividing by the value of week 0 :
matrix_percent = matrix
matrix_percent = matrix_percent.astype('float').div(matrix_percent['W 0'].astype('int'),axis='index')
matrix_percent

,W 0,W 1,W 2,W 3,W 4,W 5,W 6,W 7,W 8,W 9,...,W 17,W 18,W 19,W 20,W 21,W 22,W 23,W 24,W 25,W 26
First_visit,,,,,,,,,,,,,,,,,,,,,
2015-02-01 23:37:43,1,0.356322,0.329502,0.306513,0.302682,0.291188,0.279693,0.264368,0.260536,0.245211,...,0.141762,0.137931,0.114943,0.103448,0.088123,0.080460,0.076628,0.057471,0.034483,0.003831
2015-02-08 23:37:43,1,0.458812,0.433908,0.411877,0.391762,0.380268,0.363985,0.344828,0.328544,0.315134,...,0.186782,0.171456,0.152299,0.143678,0.125479,0.108238,0.079502,0.048851,0.003831,inf
2015-02-15 23:37:43,1,0.566813,0.542716,0.527382,0.509310,0.493428,0.476451,0.453450,0.437021,0.422782,...,0.271084,0.243702,0.213582,0.188938,0.151150,0.112815,0.072289,0.017525,inf,inf
2015-02-22 23:37:43,1,0.545729,0.527589,0.499622,0.483749,0.459562,0.447468,0.433107,0.418745,0.399093,...,0.239607,0.207105,0.182162,0.154195,0.117914,0.074074,0.018141,inf,inf,inf
2015-03-01 23:37:43,1,0.490248,0.475177,0.455674,0.439716,0.427305,0.410461,0.393617,0.375887,0.347518,...,0.200355,0.173759,0.136525,0.104610,0.056738,0.011525,inf,inf,inf,inf
2015-03-08 23:37:43,1,0.484310,0.466527,0.448745,0.427824,0.410042,0.393305,0.374477,0.341004,0.311715,...,0.145397,0.120293,0.084728,0.060669,0.012552,inf,inf,inf,inf,inf
2015-03-15 23:37:43,1,0.440258,0.418730,0.403660,0.387513,0.358450,0.335845,0.308934,0.292788,0.272336,...,0.105490,0.075350,0.049516,0.007535,inf,inf,inf,inf,inf,inf
2015-03-22 23:37:43,1,0.406868,0.388137,0.370447,0.351717,0.323621,0.301769,0.278876,0.257024,0.232050,...,0.062435,0.039542,0.007284,inf,inf,inf,inf,inf,inf,inf
2015-03-29 23:37:43,1,0.387548,0.365947,0.343075,0.325286,0.302414,0.284625,0.269377,0.249047,0.232529,...,0.044473,0.003812,inf,inf,inf,inf,inf,inf,inf,inf
2015-04-05 23:37:43,1,0.391645,0.362924,0.339426,0.308094,0.284595,0.268930,0.251958,0.246736,0.229765,...,0.007833,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-04-12 23:37:43,1,0.403020,0.370499,0.329849,0.300813,0.278746,0.256678,0.228804,0.206736,0.196283,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-04-19 23:37:43,1,0.376344,0.339307,0.310633,0.283154,0.254480,0.235364,0.206691,0.191159,0.178017,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-04-26 23:37:43,1,0.325345,0.294844,0.273784,0.247640,0.225127,0.208424,0.186638,0.164125,0.143791,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-05-03 23:37:43,1,0.285182,0.258155,0.239515,0.211556,0.191985,0.165890,0.150047,0.138863,0.122088,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-05-10 23:37:43,1,0.304153,0.273850,0.241302,0.217733,0.198653,0.182941,0.159371,0.131313,0.104377,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-05-17 23:37:43,1,0.283217,0.251748,0.230769,0.205128,0.179487,0.155012,0.120047,0.103730,0.071096,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-05-24 23:37:43,1,0.249330,0.218499,0.193029,0.162198,0.135389,0.123324,0.093834,0.065684,0.040214,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-05-31 23:37:43,1,0.238335,0.203026,0.174023,0.147541,0.126103,0.102144,0.069357,0.036570,0.011349,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-06-07 23:37:43,1,0.181431,0.143101,0.113288,0.096252,0.082624,0.062181,0.034923,0.005963,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-06-14 23:37:43,1,0.177039,0.150215,0.123391,0.103004,0.071888,0.042918,0.003219,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-06-21 23:37:43,1,0.172107,0.140455,0.096934,0.068249,0.035608,0.008902,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-06-28 23:37:43,1,0.153846,0.116965,0.087460,0.047418,0.010537,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-07-05 23:37:43,1,0.107534,0.069178,0.037671,0.006849,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-07-12 23:37:43,1,0.101619,0.053043,0.010609,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-07-19 23:37:43,1,0.069206,0.013333,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf
2015-07-26 23:37:43,1,0.029293,inf,inf,inf,inf,inf,inf,inf,inf,...,inf,inf,inf,inf,inf,inf,inf,inf,inf,inf

In [28]:
# Let's rather check the 28 days rolling retention
# The period is rolling based on start date
# we need to REdefine a few functions :
def first_day_of_period28(sourcedate, start_date):
    first_day = sourcedate -  pd.Timedelta(days = np.remainder((sourcedate - start_date).days,28))
    return first_day
def last_day_of_period28(sourcedate,start_date): 
    last_day = sourcedate +  pd.Timedelta(days = (28 - np.remainder((sourcedate - start_date).days,28) -1))
    return last_day
def add_period28(sourcedate,n_period):
    return sourcedate + pd.Timedelta(days=n_period * 28)

In [29]:
# Not trivial for 28 days : testing
startdate = retention['first_visit'].min()


print(startdate)
print('\nTest first_day_of_period28')
print(first_day_of_period28(startdate,startdate))
print(first_day_of_period28(pd.to_datetime('2015-02-13 16:01:30'),startdate))
print(first_day_of_period28(pd.to_datetime('2015-03-13 16:01:30'),startdate))

print('\nTest last_day_of_period28')
print(last_day_of_period28(startdate,startdate))
print(last_day_of_period28(pd.to_datetime('2015-02-13 16:01:30'),startdate))
print(last_day_of_period28(pd.to_datetime('2015-03-13 16:01:30'),startdate))

print('\nTest add_period28')
print(add_period28(startdate,1))
print(add_period28(startdate,2))
print(add_period28(pd.to_datetime('2015-02-13 16:01:30'),2))

2015-01-29 12:16:39

Test first_day_of_period28
2015-01-29 12:16:39
2015-01-29 16:01:30
2015-02-26 16:01:30

Test last_day_of_period28
2015-02-25 12:16:39
2015-02-25 16:01:30
2015-03-25 16:01:30

Test add_period28
2015-02-26 12:16:39
2015-03-26 12:16:39
2015-04-10 16:01:30

In [30]:
def retained_in_interval_period28(users,signup_date,n_period,end_date,start_date):

    # For a given list of users id, we want to returns the number of users 
    # that signed up in a certain period (starting with our first_visit period).
    # we need to calculate the number of users that are retained after n_period
    # We have to stop at end date (which is our maximum date of last_visit)

    # Define the range of the period the user signed up
    period_start       = pd.to_datetime(first_day_of_period28(signup_date,start_date))
    period_end         = pd.to_datetime(last_day_of_period28(signup_date,start_date))
    if n_period == 0:
        # If this is our first period, we just take the number of users
        # that used the app during this period, they are by definition retained for this month
        return len( users[    (users['first_visit'] >= period_start) &
                              (users['first_visit'] <= period_end
                              )])
    elif pd.to_datetime(add_period28(period_end,n_period)) > pd.to_datetime(end_date) :
        # This is too far = error
        return float("Inf")
    else:
        # Otherwise, we count the number of users that used the app for the first time on that period,
        # and the one where last_visit is later (or equal) than the number of periods added (rolling retention)
        return len( users[
                        (users['first_visit'] >= period_start) 
                        & (users['first_visit'] <= period_end)
                        & (pd.to_datetime(users['last_visit']) >= pd.to_datetime(users['first_visit'].map(lambda x: add_period28(x,n_period))))
                        ])

In [31]:
# Testing :
startdate = retention['first_visit'].min().normalize()
enddate = last_day_of_period28(retention['first_visit'].max(),startdate).normalize() + pd.Timedelta('1 days')
# .normalize() remove the time component

print(enddate)
print(startdate)
print(enddate - startdate ) 
print('Number of periods: '+str(196 / 28))

2015-08-13 00:00:00
2015-01-29 00:00:00
196 days 00:00:00
Number of periods: 7.0

In [32]:
assert ( retained_in_interval_period28(retention_positive.head(1),retention_positive.head(1).iloc[0,0],
                     0,
                     enddate,
                    startdate) == 1)
assert (retained_in_interval_period28(retention_positive.head(1),retention_positive.head(1).iloc[0,0],
                     1,
                     enddate,
                    startdate) == 1)
assert (retained_in_interval_period28(retention_positive.head(1),retention_positive.head(1).iloc[0,0],
                     2,
                     enddate,
                    startdate) == 1)
assert (retained_in_interval_period28(retention_positive.head(1),retention_positive.head(1).iloc[0,0],
                     3,
                     enddate,
                    startdate) == 0)
assert (retained_in_interval_period28(retention_positive.head(1),retention_positive.head(1).iloc[0,0],
                     7,
                     enddate,
                    startdate) == float("Inf"))

In [33]:
def retention_matrix_period28(users):
    '''
        For a given dataframe of users, return a retention matrix on a 28-days-period base
    '''
    # Calculate the size of the retention matrix based on the time span between min and max date.
    start_date = users['first_visit'].min().normalize()
    end_date = last_day_of_period28(users['first_visit'].max(),startdate).normalize() + pd.Timedelta('1 days')
    # Adding one day to have a full period
    # .normalize() remove the time component
    time_frame =  end_date - start_date
    # Adding one day because of the time component of the dates
    matrix_x = int(np.trunc(time_frame.days/28))
    matrix_y = matrix_x

    # the last column of the table will end at the last date :
    # The index of the dataframe will be a list of dates ranging
    dates = pd.date_range(add_period28(end_date,-matrix_y), periods=matrix_y, freq='28D')

    matrix = pd.DataFrame(columns=['First_visit'])
    matrix['First_visit'] = dates
    # We will compute the number of retained users with our function retained_in_interval, column-by-column
    range_dates = range(0,matrix_x+1)
    for p in range_dates:
        # Name of the column
        s_p = 'Period ' + str(p)
        matrix[s_p] = matrix.apply(lambda x: retained_in_interval_period28(users,x['First_visit'],p,end_date,start_date), axis=1)

    matrix = matrix.set_index('First_visit')        
    return matrix

In [34]:
# This one should be smaller (7x8) thus faster to compute
matrix = retention_matrix_period28(retention)

In [35]:
matrix

,Period 0,Period 1,Period 2,Period 3,Period 4,Period 5,Period 6,Period 7
First_visit,,,,,,,,
2015-01-29,5717,2619.000000,2248.000000,1843.000000,1450.000000,939.000000,123.000000,inf
2015-02-26,4322,1716.000000,1351.000000,1007.000000,637.000000,146.000000,inf,inf
2015-03-26,3581,1044.000000,763.000000,511.000000,96.000000,inf,inf,inf
2015-04-23,4673,1037.000000,636.000000,136.000000,inf,inf,inf,inf
2015-05-21,4112,470.000000,74.000000,inf,inf,inf,inf,inf
2015-06-18,6227,113.000000,inf,inf,inf,inf,inf,inf
2015-07-16,2883,inf,inf,inf,inf,inf,inf,inf

In [36]:
# absolute values to percentage by dividing by the value of week 0 :
matrix_percent = matrix
matrix_percent = matrix_percent.astype('float').div(matrix_percent['Period 0'].astype('int'),axis='index')
matrix_percent

,Period 0,Period 1,Period 2,Period 3,Period 4,Period 5,Period 6,Period 7
First_visit,,,,,,,,
2015-01-29,1,0.458107,0.393213,0.322372,0.253630,0.164247,0.021515,inf
2015-02-26,1,0.397038,0.312587,0.232994,0.147385,0.033781,inf,inf
2015-03-26,1,0.291539,0.213069,0.142698,0.026808,inf,inf,inf
2015-04-23,1,0.221913,0.136101,0.029103,inf,inf,inf,inf
2015-05-21,1,0.114300,0.017996,inf,inf,inf,inf,inf
2015-06-18,1,0.018147,inf,inf,inf,inf,inf,inf
2015-07-16,1,inf,inf,inf,inf,inf,inf,inf

In [37]:
# The last value is not relevant because our dataset is truncated in July, so we are missing all users between
# end of July and the 13th of August which would be the complete period.
# We can also verify this in the absolute number of users

# We notice in this sample that the retention rate after 28 days (1 period) is eroding over time
# This is not a really good sign, it means we have more trouble to retain the new users over the months
# If we lose historical users and we can't replace then, this might be a problem for the app.
# The user base might decrease.
# Let's check this by calculating the number of new users the number of returning customers for each period

In [38]:
# Let's adapt our functions :

def returning_users_in_interval(users,period_start,period_end):


        return len( users[    (users['first_visit'] < period_start) &
                              (users['last_visit'] > period_start
                              )])


def new_users_in_interval(users,period_start,period_end):


        return len( users[    (users['first_visit'] >= period_start) &
                              (users['first_visit'] <= period_end) &
                              (users['last_visit'] > period_start
                              )])

In [39]:
def returning_new_users_matrix_period28(users):

    # Calculate the size of the retention matrix based on the time span between min and max date.
    start_date = users['first_visit'].min().normalize()
    end_date = last_day_of_period28(users['first_visit'].max(),startdate).normalize() + pd.Timedelta('1 days')
    # Adding one day to have a full period
    # .normalize() remove the time component
    time_frame =  end_date - start_date
    # Adding one day because of the time component of the dates
    matrix_x = int(np.trunc(time_frame.days/28))
    matrix_y = matrix_x

    # the last column of the table will end at the last date :
    # The index of the dataframe will be a list of dates ranging
    dates = pd.date_range(add_period28(end_date,-matrix_y), periods=matrix_y, freq='28D')

    matrix = pd.DataFrame(columns=['First_visit'])
    matrix['First_visit'] = dates

    # We will compute the number of new and returning users for each period
    matrix['New users'] = matrix.apply(lambda x: new_users_in_interval(users,x['First_visit'],last_day_of_period28(x['First_visit'],startdate)), axis=1)
    matrix['Returning users'] = matrix.apply(lambda x: returning_users_in_interval(users,x['First_visit'],last_day_of_period28(x['First_visit'],startdate)), axis=1)
    matrix['Total'] = matrix['New users'] + matrix['Returning users']
    matrix = matrix.set_index('First_visit')        
    return matrix

In [40]:
users_returning_new = returning_new_users_matrix_period28(retention)
users_returning_new

             New users  Returning users  Total
First_visit
2015-01-29        5717                0   5717
2015-02-26        4322             2966   7288
2015-03-26        3581             4451   8032
2015-04-23        4673             5145   9818
2015-05-21        4112             5156   9268
2015-06-18        6227             4425  10652
2015-07-16        2883             2718   5601

In [41]:
# Once again, let's ignore the last row (incomplete period = not comparable)
# In the first period we have a lot of New Users and little returning users (logical for a app newly launched)
# The total number of users is growing, which is a good thing, but the share of returning users 
# is getting lower over time. As long as we can compensate with new users it's ok,
# but we might want to work on feature to increase retention.
# Also, a regular user usually bring more value than a new user (familiar with UI, willing to give feedback..)
# We might also want to investigate why the early users retention was better than the latest
# A possible explanation could be deployement of features that the customers dislike
# Alternately we might be focusing the wrong target audience in the last months, we would need
# to change our marketing effort focus, identify and target this audience.